body {
 display: flex;
 justify-content: space-around;
}


.digits {
 display:flex;
 flex-direction: column;
}

.operators {
 display: flex;
}

.display {
 border: 1px solid black;
 min-height: 18px;
}