*{margin:0;
padding:0;}

html, body {
 overflow-x: hidden;
}

html {
 box-sizing: content-box;
}

body {
 display: flex;
 height: 100vh;
 width: 100%;
 flex-direction: column;
 justify-content: space-between;
 align-items: center;
 background-color: slategrey;
 margin: 0;
}

a {
 text-decoration: none;
 width: auto;
 margin: 0;
 padding: 0;
}

div {
 display: flex;
 height: auto;
 width: auto;
 flex: auto;
}

.header, .footer {
 width: 100%;
 flex-grow: 0;
 align-items: center;
 justify-content: space-between;
 height: 32px;
 background-color: rgb(41, 41, 41);
 padding: 8px 0px;
}

.header {
 margin-bottom: 12px;
}

.header :first-child {
 margin-left: 8px;
}

.header :last-child {
 margin-right: 8px;
}

.header p {
 color: beige;
 font-size: 24px;
 font-weight: 700;
}

.header a {
 color: beige;
 font-size: 24px;
 font-weight: 700;
}

.footer {
 margin-top: 12px;
 justify-content: center;
}

.footer p {
 color:beige;
 font-size: 24px;
 font-weight: 700;
}

.display {
 border: 1px solid black;
 height: 48px;
 padding: 1px;
 margin-bottom: 5px;
 font-size: 48px;
 flex: none;
 background-color:cornsilk;
}

.calc-body {
 flex-direction: column;
 height: 700px;
 width: 530px;
 flex: none;
}

.digits {
 flex-direction: column;
 margin-bottom: 5px;
 flex-grow: 5;
}

.commands {
 flex-direction: column;
}

.operators{
 flex-direction: column;
 width: 66.66%;
}

button {
 flex: auto;
 font-size: 24px;
}

.digits button {
 background-color:burlywood;
}

.commands button {
 background-color:blanchedalmond;
}

.op {
 min-width: 50%;
 min-height: 33.33%;
}

#zero {
 min-width: 66.66%
}

#operate {
 min-width: 33.33%;
}

.digit {
 min-width: 33.33%;
 min-height: 25%;
}

#clear {
 min-width: 66.66%;
}

#backspace {
 min-width: 33.33%;
}


